body{
    background-color: #d4c9ad;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navegacao {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 6rem;
}

.imagem-texto{
    display: flex;
    align-items: center;
    gap: 26rem;
}

.nomebarba {
    display: flex;
    color: white;
    font-size: 35px;
}

.imagem{
    display: flex;
    height: 100px;
    width: 100px;
}

.botoes-navegacao ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5.5rem;
}

.botoes-navegacao a{
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 19px;
}

.botoes-navegacao a:hover{
    color: #f58723;
    transform: scale(1.006);
    transition: color 0.4s ease;
}

.intro{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/backg.png);
    background-position: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h1{
    padding-top: 11%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f58723;
    font-size: 75px;
}

.intro h2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
}

.horario{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 30px;
    margin: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000000;
    background-color: #f58723;
    border-radius: 40px;
    margin-top: 7%;
}

.horario:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease, color 0.2s ease, background-color 0.4s ease;
    color: white;
    background-color: #f3943c
}

.sobre{
    display: flex;
    text-align: left;
    margin: 1%;
    padding: 4rem 4rem 4rem 4rem;
    color: #000000;
    background-color: #f1ecdf;
    border-radius: 50px;
    font-size: 18px;
}

.sobre h2{
    color: #f58723;
    text-align: center;
}

.servicos-precos{
    padding: 2rem;
    color: #ffffff;
    background-color: #1a1a1a;
    font-size: 18px;
}

.titulo-preco{
    color: #f58723;
    display: flex;
    justify-content: center;
    font-size: 55px;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 80px;
    max-width: 1000px;
    margin: 0 auto;
}

.titulos{
    background-color: #f1ecdf; 
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 8px 6px -6px #4b4b4b;
}

.titulos h3{
    color:#f58723; 
    text-align: center;
    font-size: 20px;
}

.titulos img{
    width: 30px;  
    height: 30px; 
}

.imagem-titulo{
    display: flex;
    justify-items: center;
    align-items: center;
}

.titulos p{
    color: #000000;
    font-size: 0.9rem;
}

.imagem-icons{
    display: flex;
    height: 150px;
    width: 150px;
}

.titulos:hover{
    box-shadow: 0px 10px 6px -6px #4b4b4b;
    transform: scale(1.08);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.container-precos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.preco-coisas{
    background-color: #252525; 
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-width: 400px;
    max-width: 450px;
    width: calc(33.33% - 40px);
}

.preco-coisas img{
    display: flex;
    height: 50px;
    width: 50px;
}

.preco-coisas:hover{
    transform: translate(0px, -7px);
    background-color: #2e2e2e;
}

.preco-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.horario-precos{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000000;
    background-color: #f58723;
    border-radius: 40px;
    margin-top: 7%;
    font-size: 15px;
}

.horario-precos:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease, color 0.2s ease, background-color 0.4s ease;
    color: white;
    background-color: #f3943c
}

.cortando-belo{
    display: flex;
    justify-content: center;
}

.cortando-belo img{
    height: 350px;
    width: 700px;
    border-radius: 40px;
}

.contatos-info{
    background-color: #1a1a1a;
}

.cotainer-info {
    display: flex;
    justify-content: center;
    padding: 5%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.info-section{
    display: flex;
    justify-content: center;
}

.info-coisas {
    background-color: #1a1a1a; 
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #ffffff;
}

.info-coisas h3 {
    color: #f58723;
    font-size: 1.1rem;
}

.linha-info {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 0.95rem;
}

.info-icon {
    height: 24px;
    width: 24px;
    margin-top: 3px;
}

footer{
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 6%;
}

footer img{
    height: 50px;
    width: 50px;
}

footer img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.direitos{
    font-size: 11px;
    color: white;
}

.linha-divisoria {
    height: 2px;
    background-color: white;
}